[Unit]
Description = A Very Scary Halloween Service

[Service]
ExecStart = /usr/local/bin/very-scary
Restart = always

[Install]
WantedBy = default.target
